.flat-resume{
  display: flex;
  justify-content: space-around;
  background-color: white;
  border: solid 1px lightgrey;
  form {
    margin: 20px 0;
    margin-right: 0;
    background: #F4F4F4;
    padding: 15px;
    border-radius: 3px;
    .btn {
      width: 100%;
      line-height: 20px;
      background-color: rgb(222, 104, 96);
      border-color: rgb(219, 85, 76);
      font-size: 20px;
      &:hover {
        background-color: rgb(219, 85, 76);
      }
    }
    h1 {
      font-size: 24px;
      margin-bottom: 30px;
    }
  }
}

.flat-details {
  display: flex;
  align-items: center;
  padding: 30px;
  width: 750px;
}

.flat-avatar {
  width: 80px;
  height: 80px;
}

.flat-owner{
  padding: 20px;
  p {
    font-size: 14px;
    color: rgb(119, 124, 145);
  }
}

.flat-caracteristics {
  padding: 10px;
  h1 {
    font-size: 20px;
    font-style: bold;
  }
  p {
    font-size: 14px;
    color: rgb(119, 124, 145);
  }
}

.back-stars {
  position: relative;
}
.front-stars {
  overflow: hidden;
  position: absolute;
  bottom: 44px;
}

.flat-about {
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 14px;
  }
}

#flat-data {
  font-size: 12px;
  color: rgb(119, 124, 145);
}

.list-unstyled {
  li {
    display: flex;
    align-items: center;
  }
  i {
    text-align: center;
  }
  strong {
    margin-left: 9px;
  }
}
